.block-container {
    background-image: url('../../utils/images/components/block.jpg');
    background-size: contain;
    width: var(--block-width-container-size);
    height: var(--block-height-container-size);
}