body {
    margin: 0;
    padding: 0;
}

:root {
    
    /* Sizes */
    /* Header Component */
    --header-width-container-size: 100%;
    --header-height-container-size: 7rem;
    --header-component-section-paddin: 1.5rem;
    --header-component-image-width: 8rem;
    --header-component-image-height: 4rem;
    /* Fonts */
    // --font-principal-name: "Rubik";
    // --full-stack-font: "Press Start 2P", system-ui;
}




